@import "live_view.scss";
@import "radial_progress.scss";

body {
    font-family: Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 {
  font-weight: 300;
  margin-top: 0;
}

.user-cards .columns {
  margin-top: -10px;
}

.user-cards .column {
  margin-top: 10px;
}

.user-cards .card {
  border: 0;
  box-shadow: 0 0.25rem 1rem rgba(48,55,66,.15);
  height: 100%;
}

.user-cards .phx-connected {
  height: 100%;
}

.card-subtitle {
  font-size: 12px;
}

.avatar {
  background: transparent;
}

.playing-track-icon-container {
  position:relative;
}

.playing-track-icon-element {
  position: absolute;
  left: 0px;
  top: 0px
}

.playing-track-icon-image {
  padding: 3px;
}
