<%= unless @leader == nil do %>
  <% follower_name = @page_model.logged_in_user.name %>
  <% leader_name = @leader.name %>
  <div>
    <%= 'Following #{@leader.display_name}' %>
    <%= if logged_in_user_can_unfollow(@page_model, @follower) do %>
      <%= link "Unfollow", class: "btn btn-link",
        to: Routes.page_path(@page_model.conn, :unfollow, follower: follower_name, leader: leader_name) %>
    <% end %>
  </div>
<% end %>
