<% {tracks, follow_map} = @item %>

<div class="container user-cards">
  <div class="columns">
    <%= for playing_track <- tracks do %>
      <div class="column col-6 col-sm-12">
        <% leader = get_leader(follow_map, playing_track.user_name) %>
        <%= c :playing_track, :user_card, item: {playing_track, leader} %>
      </div>
    <% end %>
  </div>
</div>
